.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

  .main-container .main-photos-container {
    display: flex;
    flex-flow: column;
    max-width: 972px;
  }
  
  .main-photos-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .main-photos-container-photos {
    max-width: 30%;
    height: auto;
    margin-bottom: 30px;
    flex: 1 1 0;
  }

  .main-photos-container-photos>img {
    width: 100%;
  }

  @media screen and (max-width: 780px) {
    .main-photos-row {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .main-photos-container-photos {
      max-width: 75%;
    }
  }

/*    .main-container .main-photos-container .photo1 {
      background: url(../img/img1.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo2 {
      background: url(../img/img2.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo3 {
      background: url(../img/img3.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo4 {
      background: url(../img/img4.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo5 {
      background: url(../img/img5.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo6 {
      background: url(../img/img6.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo7 {
      background: url(../img/img7.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo8 {
      background: url(../img/img8.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo9 {
      background: url(../img/img9.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo10 {
      background: url(../img/img10.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo11 {
      background: url(../img/img11.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo12 {
      background: url(../img/img12.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo13 {
      background: url(../img/img13.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo14 {
      background: url(../img/img14.jpg) no-repeat center/cover; }
    .main-container .main-photos-container .photo15 {
      background: url(../img/img15.jpg) no-repeat center/cover; }
*/