.modal-profile-content p span {
	color: #125688;
	font-weight: bold;
	font-size: 20px;
}

.modal-profile-content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 600px;
}